<html>
  <head>
      <title>Homepage</title>
      <style>
        body{
    
    background-color:#222;
    color:lightgray;
    
}
h1 {
  font-family:vedrana;
    font-size:300%;
}
#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#menuItem {
    float: left;
}

#menuItem a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menuItem a:hover {
    background-color: #111;
}
      </style>
      
  </head>
  
  <body>
    <heading>
    <h1 align = "center">Alpha-Blog</h1>
    </heading>
    <table border = 1 align = "center" style = "background-color:lightgray">
      <tr width = 100$ height = 50 align = "center">
        
        <td>
        <ul id = "menu" align = "center">
          <li id ="menuItem"><%= link_to 'Home', root_path %></li>
          <li id ="menuItem"><%= link_to 'Articles', articles_path %></li>
          <li id ="menuItem"><%= link_to 'New Article', new_article_path %></li>
          <li id ="menuItem"><%= link_to 'About', about_path %></li>
        </ul>
          
        </td>
    </table>
    <table border = 1 width = 480 height = 300 align = "center" style = "background-color:lightgray">
    <tr align = "center">
      <td>
    <% @articles.each do |article| %>
    <p align = "center">
      <h2 style = "color:black"><%= article.title %></h2>
      <h4 style = "color:black"><%= article.description %></h4>
      <%= link_to 'Edit', edit_article_path(article) %>
      <%= "  |  " %>
      <%= link_to 'Show', article_path(article) %>
    </p>
    <% end %>
    </td>
    </tr>
    </table>
    
  </body>
  
</html>