<html>
  <head>
      <title>Articles</title>
      <%= render 'style' %>
      
  </head>
  
  <body>
    <heading>
    <h1 align = "center">Alpha-Blog</h1>
    </heading>
    <table border = 1 align = "center" style = "background-color:lightgray">
      <tr width = 100$ height = 50 align = "center">
        
        <td>
        <ul id = "menu" align = "center">
          <li id ="menuItem"><%= link_to 'Home', root_path %></li>
          <li id ="menuItem"><%= link_to 'Articles', articles_path %></li>
          <li id ="menuItem"><%= link_to 'Edit Article', edit_article_path(@article) %></li>
          <li id ="menuItem"><%= link_to 'About', about_path %></li>
        </ul>
          
        </td>
      </tr>
    </table>
    <br>
    <table border = 1 width = 480 height = 300 align = "center" style = "background-color:lightgray">
      <tr align = "center">
        <td style = "color:black">
          <h3>
            <%= @article.title %> <br/>
          </h3>
          <p>
            <%= @article.description %>
          </p>
        </td>
       </tr> 
      </table>  
      
  </body>
  
</html>