%h2{:align => "center"}= @article.title
.well.col-xs-8.col-xs-offset-2.center
  = simple_format(@article.description)
  .article-meta-details.center
    %small
      Created by: #{@article.user.username if @article.user},
      \#{time_ago_in_words(@article.created_at)} ago,
      last updated #{time_ago_in_words(@article.updated_at)} ago
  .article-actions
    = link_to "Edit", edit_article_path(@article), class: "btn btn-xm btn-primary"
    = link_to "Delete", article_path(@article), method: :delete,        
                      data: { confirm: "Are you sure you want to delete the article?"}, 
                      class: "btn btn-xm btn-danger"                                    
    = link_to "Back", articles_path, class: "btn btn-xm btn-default"